body{
    font-family: 'Roboto', sans-serif;
    color:black;
}
.headering{
    background-color: #ECECEC;
}

.logo{
    text-decoration: none;
}
.web{
font-family: 'Raleway', sans-serif;
font-size: 26px ;
font-weight: 700 ;
color: #2196F3;
line-height: 31px;
letter-spacing: 0.03em;
text-align: left;
}

.studio{
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
text-align: left;
color:black;
}

.navigation{
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color:black;
text-decoration: none;
}

.navigation:hover, 
.navigation:focus{
color:#2196F3;
}
.kontakt{
font-family:'Roboto', sans-serif ;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color:black;
text-decoration: none;
}

.kontakt:hover, .kontakt:focus{
 color:#2196F3;   
}

.theme{
    background-color: #2F303A;;
}
.theme-1{
font-family: 'Roboto', sans-serif;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
color:#FFFFFF;  
}

    font-family: 'Raleway', sans-serif;

    font-family: 'Roboto', sans-serif;